.profile-heading {
  margin-bottom: 40px;
  .crump-item {
    font-size: 17px;
  }
  .crump-item.main-item {
    color: black;
    text-transform: capitalize;
  }
}
.ant-breadcrumb-separator {
  font-size: 17px;
}
