.AdminEdit {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    background-color: #fff;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    padding: 32px;
    z-index: 900;
    border-radius: 12px;

    .form {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;
        gap: 20px;

        .inputField {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            label {
                text-transform: capitalize;
                font-size: 20px;

            }

            input {
                border: 1px solid #3C4242;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }

        button {
            border: 1px solid #8A33FD;
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 15px;
            text-transform: capitalize;
            font-weight: 500;
            transition: 200ms linear;
            background-color: white;
            border-radius: 10px;
            padding: 10px 15px;
            align-self: flex-end;

            &:hover {
                color: white;
                background-color: #8A33FD;
            }
        }
    }


}

.MuiBox-root {
    width: auto !important;
    border: none !important;
}