@import "./../../assets/style/scss/mixin.scss";
@import "./../../assets/style/scss/varibles.scss";

.wishlist-body {
  .container {
    .wishlist-main {
      .wishlist-heading {
        margin-bottom: 10px;
        h1 {
          font-size: 30px;
          font-weight: 700;
        }
      }
      .wishlist-items {
        display: flex;
        flex-direction: column;
        max-height: 700px;
        overflow-y: scroll;
      }
    }
  }
}
