@import "./../../assets//style/scss/mixin.scss";
@import "./../../assets//style/scss/varibles.scss";

.profile-body {
  padding: 30px 0px;

  .container {
    .profile-main-wrapper {
      .profile-left-section {
        // flex: 1;
        &-heading {
          margin-bottom: 50px;
          .profile-name {
            border-radius: 5px;
            border-left: 8px solid $main-color;
            margin-bottom: 15px;
            h1 {
              color: black;
              font-weight: 700;
              padding: 0px 10px;
              font-size: 30px;
              span {
                color: black;
                text-transform: capitalize;
              }
            }
          }
          span {
            color: $primary-color;
          }
        }
      }
    }

    .recently-viewed-sect {
      padding: 20px 0px 60px 0px;
    }
  }
}
.tab-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  span {
    font-weight: 600;
    font-size: 17px;
    color: rgb(117, 117, 117);
    margin-left: 6px;
  }
}
.MuiTabList-root.MuiTabList-vertical.MuiTabList-variantPlain.MuiTabList-colorNeutral.MuiTabList-sizeMd.css-1dt0dce-JoyTabList-root {
  padding-right: 0px !important;
  border-right: none;
}
.MuiTabPanel-root.MuiTabPanel-sizeMd.MuiTabPanel-vertical.MuiTabPanel-variantPlain.MuiTabPanel-colorNeutral.MuiTabPanel-sizeMd.css-64esqk-JoyTabPanel-root {
  padding: 0px;
  margin-left: 30px;
}
