@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  width: 100% !important;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
}
button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.component {
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bebcbd;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a33fd;
}
img {
  display: inline;
}
h2 {
  line-height: normal !important;
}

.errormessage {
  color: red;
}

.errormessage {
  color: red;
}
.swal2-title {
  border-bottom: none !important;
}
